html,
body {
  padding: 0;
  margin: 0;
  font-family: "Cascadia Code", "Fira Code", "Fira Mono", Menlo, Monaco, Consolas, "Lucida Console", monospace;
  background-color: #222831;
  color: #EEEEEE;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  background-color: #393E46;
  width: 60%;
  margin: 0 auto;
  padding: 2rem;
  border: 10px solid #393E46;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

ul {
  list-style: none;
}

.social {
  border-radius: 50%;
}

ul a {
  display: inline-block;
  margin: 10px;

}